.main {
  position: relative;
}
.banner {
  padding: 0 5%;
  display: flex;
  height: 75px;
  background: rgba(237, 226, 222, 0.5);
  align-items: center;
  position: relative;
}

.logo img {
  width: 50px;
}
.search_bar {
  width: 30%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}
.search_bar input {
  width: 100%;
  min-width: 200px;
  height: 35px;
  border: 1px dotted #b29494;
  border-radius: 10px;
  padding: 0 10px;
  -webkit-appearance: none;
}
.search_bar input:focus {
  outline: none;
}
.sections {
  padding: 0 5%;
}
.section-title {
  font-family: 'Poppins-SemiBold';
  font-size: 4rem;
  color: #000000;
  text-align: left;
}
.section-title-small {
  font-family: 'Poppins-SemiBold';
  font-size: 2rem;
  color: #000000;
  text-align: left;
}
.ant-table-thead > tr > th {
  background: #f9f1f1;
}
